body {
	background: #fafafa;
	color: #333;
}

.navbar {
	margin-bottom: 10px;
}


//////////////////////////////////
//
//	Macros
//
//////////////////////////////////
.panel {
	background: #fff;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}


//////////////////////////////////
//
//	Single topic display
//
//////////////////////////////////
.topic {
	.panel();
	position:relative;

	& > * {
		display:inline-block;
	}

	&:after {
		clear:both;
	}

	h3 {
		margin: 0;
		font-size: 1.4em;
		/*line-height: 1.4;*/
	}
	.byline{
		font-style: italic;
		font-size: .9em;
		color: #999;
	}

	p {
		margin:0;
	}
	.btn{

	}

	.voteBtn {
		/*display: block;*/
		/*margin: 7px 12px 0 0;*/
		float: left;
		/*width:3em;*/

		&.alreadyVoted {
/*			font-size:3em;
			line-height:.3em;*/
			color: green;
		}
	}

	.edit,
	.discuss {
		/*display: block;*/
		/*float: right;*/
		/*margin-top: 7px;*/
		/*margin-left:10px;*/
	}
	.actions {
		clear: both;
		display:block;
		overflow:hidden;
		vertical-align:top;
	}
	.admin-actions{
		display:block;
		margin-top: 5px;

		a{
			width: 50%;
		}
	}
	.topic-content{
		margin-bottom: 10px;
		p{
			padding: 10px 0px;
			color: #666;
			font-family: "Georgia";
			min-height: 80px;
		}
	}
	.tag-list{
		clear:both;
		padding: 5px 0px;
		font-size: .9em;
	}
	.reference-url{
		min-height:1.5em;
		font-size: .9em;
	}

	.tags {
		margin-top:.25em;
	}

	//////////////////////////////////
	// single topic overrides
	//////////////////////////////////
	&.singleTopic {
		.admin-actions {
			float:right;
			margin-top:0;
			a {
				width:auto;
			}
		}
	}

}


//////////////////////////////////
//
//	Comments display
//
//////////////////////////////////
.comments-container{
	clear:both;
	display:block;
	padding-top: 30px;
}

ul.comments {
	clear:both;
	list-style-type: none;
	margin:0;
	padding-left: 0px;

	// single comment
	li {
		.panel();

		h4 {
			font-size: 16px;
			margin: 0;
		}
		.date {
			float:right;
			font-size: 12px;
			font-weight: normal;
		}
		a {
			font-size: 12px;
		}

		.body {
			&:before	{content: "\201C  "; font-size:1.5em; color:#aaa;}
			&:after		{content: " \201D"; font-size:1.5em; color:#aaa;}
		}

		p:last-child {
			margin-bottom: 0;
		}

		.remove {
			float:right;
		}
	}
}




//////////////////////////////////
//
//	Menus
//
//////////////////////////////////
.dropdown-menu {
	span {
		display: block;
		padding: 3px 20px;
		clear: both;
		line-height: 20px;
		color: #bbb;
		white-space: nowrap;
	}
}


//////////////////////////////////
//
//	Error display
//
//////////////////////////////////
.errors {
	position: fixed;
	z-index: 10000;
	padding: 10px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	pointer-events: none;

	.alert {
		animation: fadeOut 2700ms ease-in 0s 1 forwards;
		width: 250px;
		float: right;
		clear: both;
		margin-bottom: 5px;
		pointer-events: auto;
	}

}
@keyframes fadeOut {
	0% {opacity: 0;}
	10% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}



//////////////////////////////////
//
//	Bootstrap overrides
//
//////////////////////////////////
.jumbotron{
	text-align: center;
	background-color:transparent;
}
.jumbotron h2{
	font-size: 4em;
	font-weight: 100;
}

/* PRC Styles */
.topics{
	clear: both;
}

.topic-content{
	width: 100%;
}

.vote-count-big{
	float: right;
	background: rgba(0,0,0,0.8);
	padding: 10px;
	font-size: 1.4em;
	color: white;
	border-radius: 3px;
	text-align: center;
}


@flat-web-pomegranate: rgba(192, 57, 43,0.5);
@flat-web-nephritis: rgba(39, 174, 96,1.0);
@flat-web-peter-river: rgba(52, 152, 219,0.5);

@complement1: spin(@flat-web-pomegranate, 180);
@complement2: darken(spin(@flat-web-pomegranate, 180), 5%);


.topic-level-10{
	background: @flat-web-pomegranate;
	border: 2px solid darken(@flat-web-pomegranate, 20%);
	color: darken(spin(@flat-web-pomegranate, 180), 90%);
}

.topic-level-5{
	background: @flat-web-nephritis;
	border: 2px solid darken(@flat-web-nephritis, 20%);
}

.topic-level-0{
	background: @flat-web-peter-river;
	border: 2px solid darken(@flat-web-peter-river, 20%);
}